.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--color-gray-50);
}

.login-card {
    width: 100%;
    max-width: 400px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
