.jobs-list {
    display: flex;
    flex-direction: column;
}

.jobs-list-filters {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

.jobs-list-result {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
