.text {
    font-family: var(--font-family);
}

.text-default {
    font-size: 14px;
    color: var(--color-gray-900);
}

.text-secondary {
    font-size: 14px;
    color: var(--color-gray-500);
}

.text-small {
    font-size: 12px;
    color: var(--color-gray-500);
}
