.title {
    font-family: var(--font-family);
    font-weight: 600;
    color: var(--color-gray-900);
}

.title-1 {
    font-size: 24px;
    line-height: 1.3;
}

.title-2 {
    font-size: 18px;
    line-height: 1.4;
}

.title-3 {
    font-size: 15px;
    line-height: 1.4;
}
