.node-show {
    display: flex;
    flex-direction: column;
}

.node-show-section {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.node-show-subsection {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
